/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* CSS Variables for consistent theming */
:root {
    /* Brand Colours */
    --primary-green: #15803d; /* buttons */
    --secondary-navy: #1e3a8a; /* navbar, dark headings */

    /* Text Colours */
    --text-dark: #111827; /* main body text */
    --text-light: #f8fafc; /* text on dark backgrounds */

    /* Backgrounds */
    --bg-light: #f8fafc;
    --bg-dark: #1e3a8a;

    /* Light border */
    --border-light: #e2e8f0;

    /* Navigation active and hover */
    --nav-hover: #ffffff38;
}

html {
    scroll-padding-top: 82px; /* To prevent content from being hidden behind fixed navbar */
}

body {
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;

    padding-top: 82px; /* To prevent content from being hidden behind fixed navbar */
}

body p {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1.5rem;
}

/* Navbar custom styles */
.navbar-custom {
    background-color: var(--secondary-navy);
}

/* Make text white */
.navbar-custom .nav-link {
    color: white;
}

/* Navbar button icon color */
.btn-success i.fa-car {
    color: var(--secondary-navy);
}
/* Make active nav link pop */
.navbar-custom .nav-link.active {
    background-color: var(--nav-hover);
    font-weight: 700;
    border-radius: 5px;
}

/* Hover effect for nav links */
.navbar-custom .nav-link:hover {
    background-color: var(--nav-hover);
    border-radius: 5px;
}

/* Make car icons primary green in navbar and body */
.navbar-brand .fa-car,
body .fa-car {
    color: var(--primary-green);
}

#hero {
    background-color: var(--secondary-navy);
    text-align: center;
    color: var(--text-light);
}

main {
    background-color: var(--primary-green);
    color: var(--text-light);
}

#services,
#testimonials {
    background-color: var(--primary-green);
    color: var(--text-light);
    padding-top: 82px; /* To prevent content from being hidden behind fixed navbar */
    margin-top: -75px; /* To pull section up slightly for better visual flow */
}

.card .badge {
    background-color: var(--secondary-navy);
    color: var(--text-light);
}

body .fa-check,
body .fa-asterisk {
    color: var(--secondary-navy);
}

body .submit {
    background-color: var(--secondary-navy);
}

footer {
    background-color: var(--secondary-navy);
    color: var(--text-light);
    padding: 20px 0;
}

footer a {
    color: var(--text-light);
    font-family: "Open Sans", sans-serif;
}
